.achievs
  margin: 0
  padding: 0

.achiev
  display: block
  padding: $achiev-padding
  margin: $achiev-margin
  background: $achiev-bg
  color: $achiev-color
  +clearfix

  &__badge
    float: left
    margin: $achiev-element-margin

  &__title
    float: left
    margin: $achiev-element-margin
    line-height: $badge-size
    font-size: $achiev-title-font-size
