body
  font-family: $font

h1, h2, h3, h4, h5, h6
  font-weight: normal

.content
  width: $content-width
  padding: $content-padding
  margin: $content-margin

.caption
  color: $caption-color
  font-size: $caption-font-size
  text-transform: uppercase