.header
  text-align: center
  color: $header-color
  background: $header-bg
  padding: $header-padding
  +clearfix

  &__name
    font-size: $header-name-font-size
    margin: $header-name-margin

  &__link
    color: $header-color
    font-size: $header-link-font-size