.navigation
  background: $navigation-bg

  ul
    padding: 0
    margin: 0

    li
      display: inline-block
      padding: $navigation-item-padding

      &.active
        background: $navigation-item-active-bg

      a
        color: $navigation-item-color